//**************************/
//*  Current theme colors  */
//**************************/

// BackGrounds
$base: #282a36;
// Destac colors
$highlight: #bd93f9;
// Font colors 
$font: #f8f8f2;
// Border radius 
$defalt-radius: 10;
