/*Imports the colors used throughout the code. 
If you want to change the colors, change it within this file. 
The colors of "base", "highlight" and "font" can be changed. 
But if these colors are modified, when using the settings panel, 
when selecting a highlight color or in mode, 
these colors will change to the original colors.*/
@import "themes/normal_light.scss";

/*Default settings for all windows will be used if no settings are specified in other windows*/
window {
  background-color: transparent;
  color: $font;
  font-family: monospace;
  border-radius: 0px;
}

/*Default settings for all buttons will be used if no settings are specified for other buttons.*/
button { 
  all: unset;
  background-image: radial-gradient(circle farthest-side at center, transparent 100%, transparent 100%);
  transition: 1000ms, background-size 1000ms cubic-bezier(0, 0, 0.2, 2), background-image 1000ms cubic-bezier(0, 0, 0.2, 3);
  padding: 1px;
  
}

/*Tooltip configuration defaults.*/
tooltip {
  background-color: $base;
  font-family: monospace;
  font-size: 16px;
  color: $font;
}

/*Expander Settings*/
expander {
  all: unset;
  // Make up for the translation
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba($base, 0.7);
  font-size: 15px;
}

expander title {
  font-weight: 100;
}

expander title:hover {
  
}


expander arrow {
  all: unset;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 25px;
  min-height: 30px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  -gtk-icon-transform: rotate(-90deg) translateY(-8px);
  color: $font;

}
expander arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
expander arrow:checked {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  // Since we rotated -90, we have to add this to rotate back
  -gtk-icon-transform: rotate(0deg) translateX(-8px);
}
expander arrow:checked:hover {
  -gtk-icon-transform: rotate(0deg) translateX(-4px);
  color: $highlight;
}
expander arrow:hover, expander arrow:active {
  -gtk-icon-transform: rotate(-90deg) translateY(-4px);
  color: $highlight;
}

/*In the sequence, all the style blocks of the widgets are started.*/

/*Close button*/
.close-app {
  color: $font;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1px;
}

.close-app:hover {
  background-color: $base;
  color: #F23567;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 1px;
}

/*Bottom bar*/
.bottom-bar {
  background-color: rgba($base, 0.5);
  font-size: 20px;
}

/*Menu button*/
.menu {
  background-color: rgba($base, 0.7);
  color: $font;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3px;
  
}

.menu:hover {
  background-color: rgba($base, 0.9);
  color: $highlight;
}

/*Social media button*/
.share-button {
  background-color: rgba($base, 0.7);
  color: $font;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3px; 
}

.share-button:hover {
  background-color: rgba($base, 0.9);
  color: $highlight;
}

/*Settings button*/
.settings-button {
  background-color: rgba($highlight, 0.7);
  color: $font;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 3px;
  border-radius: 5px;
  
}

.settings-button:hover {
  background-color: rgba($highlight, 0.9);
  color: #121212;
}

/*Separator*/
.separator {
  margin-left: 365px
}

/*Bottom bar image showing the album cover of the song played via spotify, 
or youtube running on firefox*/
.icon-spotify {
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba($base, 0.7);
  min-height: 60px;
  min-width: 60px;
  border-radius: 0px;
}

.icon-spotify:hover {
  background-size: 65px;
}

/*Current player information.*/
.metadata {
  margin-left: 20px;
  margin-right: 16px;
}

.spotify-meta {
  background: linear-gradient(290deg, $base 10%, rgba($base, 0.7) 100%);
  color: $highlight;
  font-size: 13px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.spotify-meta:hover {
  background: linear-gradient(0deg, rgba($highlight, 0.3) 0%, rgba($base, 0.9) 0%);
  color: $font;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*Bar located on the left*/
.disp {
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba($base, 0.5);
  min-height: 100px;
  min-width: 55px;
}

/*Left bar clock*/
.disp-time {
  background-color: rgba($highlight, 0.9);
  color: $font;
  font-family: Ubuntu;  
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 3px;
}

.disp-time:hover {
  background-color: rgba($highlight, 1);
  color: #121212;
}

/*Left bar tab*/
.disp-separator {
  margin-top: 35px;
}

/*Left bar programs*/
.disp-app {
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba($base, 0.0);
  min-height: 100px;
  min-width: 55px;
}


.disp-app:hover {
  background-size: 55px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1000ms, background-size 1000ms cubic-bezier(0, 0, 0.20, 2), background-image 10000ms cubic-bezier(0, 0, 0.2, 3);   
}

/*Menu for selection of session actions*/
.power-menu {
  background-color: rgba($base, 0.5);
  padding-left: 35px;
  padding-right: 35px;
}

/*Session Actions Menu User Icon*/
.icon_user {
  background-size: 400px;
  background-repeat: no-repeat;
  background-color: rgba($base, 0.2);
  background-position: center;
  min-height: 200px;
  min-width: 200px;
  margin-top: 45px;
  margin-bottom: 30px;
  border-radius: 100%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.99);
}

.icon_user:hover {
  background-size: 410px;
  background-position: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.99);

}

/*Session Actions Menu Username*/
.power-user {
  font-size: 30px;
  background-color: $highlight;
  border-radius: 10px
}

/*Session Actions Menu Time*/
.power-time {
  font-size: 30px;
  color: $highlight;
  margin-top: 20px;
  margin-bottom: 50px;
}

/*Session Actions Menu Buttons*/
.power-control {
  margin-bottom: 28px;
}

/*Session actions menu off button*/
.button_power {
  background-image: url('Icons/Panel/power.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-height: 60px;
  min-width: 60px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-right: 80px;
  border-radius: 100%;
}

.button_power:hover {
  background-image: url('Icons/Panel/power-hover.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.99)
}

/*Session Actions Menu Reset Button*/
.button_reboot {
  background-image: url('Icons/Panel/reboot.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-height: 60px;
  min-width: 60px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-right: 80px;
  border-radius: 100%;

}

.button_reboot:hover {
  background-image: url('Icons/Panel/reboot-hover.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.99);

}

/*Session actions menu exit button*/
.button_exit {
  background-image: url('Icons/Panel/exit.svg');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-height: 60px;
  min-width: 60px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-right: 0px;
  border-radius: 100%;
}

.button_exit:hover {
  background-image: url('Icons/Panel/exit-hover.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.99);

}

/*Quick help panel to social media*/
.hobby { 
  background-color: rgba($base, 0);

}

/*Facebook*/
.face {
  background-image: url('Icons/Candy/face.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#6399ff, 0.5);
  min-height: 160px;
  min-width: 290px;
  color: transparent;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  border-radius: 0px;

}

.face:hover {
  background-image: url('Icons/Candy/face-hover.svg');
  background-size: 120px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-color: rgba(#6399ff, 0.3);
}

/*Instagram*/
.insta {
  background-image: url('Icons/Candy/insta.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#ff6060, 0.5);
  color: transparent;
  min-height: 130px;
  min-width: 355px;
  margin-left: 2.5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 0px;
}

.insta:hover {
  background-image: url('Icons/Candy/insta-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#ff6060, 0.3);
  
}

/*Youtube*/
.tube {
  background-image: url('Icons/Candy/tube.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#ff2222, 0.5);
  color:transparent;
  min-height: 100px;
  min-width: 400px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 0px;
}

.tube:hover {
  background-image: url('Icons/Candy/tube-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#ff2222, 0.3);
  
}

/*Twitter*/
.twitter {
  background-image: url('Icons/Candy/twitter.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#00fff3, 0.5);
  color: transparent;
  min-height: 160px;
  min-width: 250px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  border-radius: 0px;
}

.twitter:hover {
  background-image: url('Icons/Candy/twitter-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#00fff3, 0.3);
  
}

/*Telegram*/
.tele {
  background-image: url('Icons/Candy/tele.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#00cfff, 0.5);
  color : transparent;
  min-height: 130px;
  min-width: 460px;
  margin-left: 2.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 0px;
}

.tele:hover {
  background-image: url('Icons/Candy/tele-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#00cfff, 0.3);
  
}

/*Discord*/
.discord {
  background-image: url('Icons/Candy/discord.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#bb69ff, 0.5);
  color: transparent;
  margin-left: 2.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px;
  min-height: 130px;
  min-width: 335px;
  border-radius: 0px;
}

.discord:hover {
  background-image: url('Icons/Candy/discord-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#bb69ff, 0.3);
}

/*Reddit*/
.red {
  background-image: url('Icons/Candy/red.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#ff450c, 0.5);
  color: transparent;
  min-height: 164px;
  min-width: 340px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  border-radius: 0px;
}

.red:hover {
  background-image: url('Icons/Candy/red-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#ff450c, 0.3);
 
}

/*Netflix*/
.net {
  background-image: url('Icons/Candy/net.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#ff0000, 0.5);
  color: transparent;
  min-height: 130px;
  min-width: 350px;
  margin-left: 2.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 0px;
}

.net:hover {
  background-image: url('Icons/Candy/net-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#ff0000, 0.3);
  
}

/*Github*/
.git {
  background-image: url('Icons/Candy/git.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#FF6642, 0.5);
  color: transparent;
  min-height: 130px;
  min-width: 355px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  border-radius: 0px;
}

.git:hover {
  background-image: url('Icons/Candy/git-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#FF6642, 0.3);
   
}

/*Music player and volume control panel*/

/*Volume*/
.volume {
  background-color: rgba($base, 0.5);
  padding: 7px;
}

/*Music player widget volume button*/
.label-vol {
  font-size: 25px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.label-vol:hover {
  background-color: rgba($highlight, 1);
  color: $font;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.99);
}

/*Music player volume scale*/
.volume scale trough highlight {
  all: unset;
  background: $highlight;
  color: #000000;
  border-radius: 10px;

}

.volume scale trough {
  all: unset;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 10px;
  min-height: 5px;
  min-width: 175px;
  margin-right: 30px;
}

/*Music player window*/
.spot-widget {
  background: rgba($base, 1)
}

/*Music player album art*/
.art-album {
  background-size: 290px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-height: 280px;
  min-width: 290px;
}

.art-album:hover {
  background-size: 340px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-height: 280px;
  min-width: 290px;
}

/*Music player control buttons*/
.spoti-control {
  background-color: $base;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.spoti-control-music {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30px;
  min-width: 30px;
  background-color: $base;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.spoti-control-music:hover {
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.99);

}

// Settings

.box-settings {
  background-color: rgba($base, 0.5);
  padding: 10px 10px 10px 0px;
}

.user-info {
  background: linear-gradient(90deg, rgba($base, 0.9) 20%, rgba($base, 0.4) 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 1px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.actual-user {
  background-color: rgba($base, 0.0);
  margin: 0px 50px 0px 5px;
  padding: 5px;
  color: $font;
  font-size: 20px;
}

.disp2 {
  background-color: rgba($base, 0.5);
  border-radius: 10px 0px 0px 10px;
}

.disp-description {
  font-family: Ubuntu;
  font-size: 10px
}

.user-image {
  background-color: rgba($base, 0.9);
  border-radius: 100%;
  background-image: url('Icons/user.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70px;
  min-width: 70px;
  margin: 10px 5px 30px 5px;
}

.user-image:hover {
  background-size: 130px;  
}

.mode-settings, .wall-button, .calendar-button, .weather-button {
  font-size: 25px;
  background-color: transparent;
  color: $font;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.mode-settings:hover, .wall-button:hover, .calendar-button:hover, .weather-button:hover {
  background-color: rgba($base, 0.5);
  color:$highlight;
}

.power-button {
  font-size: 30px;
  background-color: rgba($base, 0.7);
  color: $font;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 160px;
  border-radius: 10px;
}

.power-button:hover {
  background-color: rgba($base, 0.5);
  color:#F12345;
}

/// Settings Screenshots

.label-screenshot {
  background: linear-gradient(90deg, rgba($base, 0.9) 20%, rgba($base, 0.4) 100%);
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 10px;
  margin-left: 1px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.screenshot {
  background: linear-gradient(90deg, rgba($base, 0.03) 20%, rgba($base, 0.05) 100%);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.settings-shot {
  font-size: 30px;
  background-color: rgba($base, 0.9);
  padding: 10px;
  border-radius: 100%;
  margin-left: 50px;
}

.settings-shot:hover {
  color: $highlight;
}

/// Settings Volume

.settings-volume {
  background: linear-gradient(90deg, rgba($base, 0.9) 20%, rgba($base, 0.4) 100%);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 10px;
  margin-left: 1px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.separator-volume-settings {
  margin-left: 293px;
}

.settings-label-perc {
  font-size: 18px;
  margin-left: 10px;
}


.settings-label-vol {
  font-size:25px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: rgba($base, 0.9);

}

.settings-label-vol:hover {
  color: $highlight;
 
  
}

.settings-volume scale trough highlight {
  all: unset;
  background: rgba($highlight, 0.3);
  color: transparent;
  border-radius: 10px;

}

.settings-volume scale trough highlight:hover {
  all: unset;
  background: $highlight;
  color: transparent;
  border-radius: 0px;

}

.settings-volume scale trough {
  all: unset;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 0px;
  min-height: 5px;
  min-width: 20px;
  margin-right: 120px;
}

/// Calendar

.box-calendar {
  padding: 10px;
  background-color: rgba($base, 0.5);
}

.icon-calendar {
  background-image: url('Icons/Candy/calendar.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: transparent;
  min-height: 50px;
  min-width: 50px;
  font-family: JetBrains Pro,;  
  font-size: 30px;
  margin-bottom: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

calendar {
  color: $font;
  background-color: transparent;
  font-size: 12px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 17px;
  padding-bottom: 16px;

}

calendar:selected {
  color: rgba($font, 0.6);
  background-color: rgba($highlight, 0.2);  
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0px;

}

calendar.header {
  border-radius: 10px;
  color: $font;
  background-color: transparent;
}

calendar.button {
  background-color: transparent;
  color: $highlight;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}


calendar.highlight {
  color: $base;
  background-color: transparent;
  color: $highlight;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

calendar:indeterminate {
  color: #506070;

}


.calendarwin {
  background-color: rgba($base, 0.5);
  color: $font;
  font-family: Ubuntu Bold;
  padding: 15px;

}

/// Weather

.box-weather {
  background-color: rgba($base, 0.5);
  padding: 5px;
}

.weather-panel {
  background-color: rgba($base, 0.5);
}

.city {
  background-color: rgba($base, 0.5);
  font-family: Ubuntu;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: $font;

}

.weatherstatus {
  font-family: Ubuntu;
  font-size: 20px;
  color: $font;
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: $highlight
}

.weather-icon {
  font-size: 190px;
  margin-left: 100px;
}

.weathertemp {
  font-family: Ubuntu;
  font-size: 60px;
  color: $highlight;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.weatherspeed {
  font-family: Ubuntu;
  font-size: 30px;
  color: $font;
}

.moon {
  font-family: Ubuntu;
  font-size: 30px;
  color: $font;

}

/// Style

.highlight {
  background: linear-gradient(90deg, rgba($base, 0.9) 20%, rgba($base, 0.4) 100%);
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 10px;
  margin-left: 1px;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.highlight-colors {
  background: linear-gradient(90deg, rgba($base, 0.03) 20%, rgba($base, 0.05) 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.highlight-use1 {
  background-color: #ff5471;
  padding: 12px;
  margin-left: 40px;
  border-radius: 100%;
}

.highlight-use2 {
  background-color: #00FA9A;
  padding: 12px;
  margin-left: 35px;
  border-radius: 100%;
}

.highlight-use3 {
  background-color: #cb94ff;
  padding: 12px;
  margin-left: 35px;
  border-radius: 100%;
}

.highlight-use4 {
  background-color: #f6ff78;
  padding: 12px;
  margin-left: 35px;
  border-radius: 100%;
}

.highlight-use5 {
  background-color: #00d2ff;
  padding: 12px;
  margin-left: 35px;
  border-radius: 100%;
}

.highlight-use6 {
  background-color: #00FFFF;
  padding: 12px;
  margin-left: 45px;
  border-radius: 100%;
}